<div class="d-flex mb-3 justify-content-center"><h3>learning oop</h3></div>
<div class="d-flex mb-3 ms-3 justify-content-center">i have succesfully creatd 2 classes and 3 objects and made methods/functions for each class to display the states check console in browser to see what is happening </div>
<button class="btn btn-primary" (click)="Event1()">Get Deatils</button>
{{BMW.getDetails()}}
<hr>
<div class="d-flex justify-content-center"><h4>above is nt working how o want it lets try to make a service and then do the same</h4></div>
<div></div>
<hr>
<hr>
<hr>
<hr>
<app-employeelist></app-employeelist>
<hr>
<app-car-list></app-car-list>
